:root {
    --couleur-primaire : #008A8A;
}

h2 {
  color : var(--couleur-primaire);
}

/* Style de base du formulaire */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

fieldset {
  border: none;
}

/* Style des labels */
label {
  display: block;
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style des champs de saisie */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style du bouton d'envoi */
input[type="submit"] {
  background-color: #008A8A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style sur hover du bouton d'envoi */
input[type="submit"]:hover {
  background-color: #0DD0D0;
}

/* Style du champ message (textarea) */
textarea {
  resize: vertical;
}

/* Style pour placeholder (texte grisé à l'intérieur des champs) */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: gray;
}